@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

header {
    position: fixed; 
    top: 0; 
    left: 0;
}

.logo-alura {
    height: 4em;
    padding: 0.5em;
    margin-left: 1em;
}


main {
    border: none;
    color: #0A3871;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin-left: 2em;
    width: 100%;
    max-width: 1200px;
}


body {
    width: 100%;
    height: 100vh;
    background-image: url(assets/numeros-binarios.jpg); 
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.bloco-criptografia {
    width: 60%;
}

.informacao {
    color: white;
    font-style: italic;
    padding: 1em;
}

.text-area {
    position: relative;
    width: 100%;
}

.text-area span {
    position: absolute;
    left: 0;
    font-size: 1.8em;
    pointer-events: none;
    transition: 0.3s;
    opacity: .5;
    padding-left: 0.8em;
    padding-top: 0.8em;
}

.text-area textarea:focus ~ span,
.text-area textarea:valid ~ span {
    transform: translateY(-2.375em);
    opacity: 1;
    color: white;
}

.mensagemEntrada {
    outline: none;
    resize: none;
    font-size: 2em;
    padding-left: 0.8em;
    padding-top: 0.8em;
    color: #0A3871;
    border: none;
    background-color: #F3F5FC;
    border-radius: 24px;
    width: 100%;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 2.5em;
}

.btn-criptografar {
    background-color: #0A3871;
    color: #FFFFFF;
    width: 20.5em;
    height: 4.187em;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-criptografar:hover {
    background-color: #052051;
}

.btn-descriptografar {
    background-color: #D8DFE8;
    color: #0A3871;
    width: 20.5em;
    height: 4.187em;
    border: 1px solid #D8DFE8;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-descriptografar:hover {
    background-color: #AAB2D5;
}


.bloco-mensagem {
    width: 25%;
    height: 600px;
    border-radius: 32px;
    background: #FFFFFF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nenhuma-msg-encontrada {
    color: #343A40;
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
}

.digite-msg {
    margin-top: 0.5em;
    color: #343A40;
    font-size: 1em;
    text-align: center;
}

.contem-mensagem {
    width: 100%;
}

.mensagemSaida {
    width: 100%;
    padding: 5%;
    outline: none;
    resize: none;
    color: #0A3871;
    border: none;
    border-radius: 24px;
    background-color: white; 
}

.btn-copiar {
    background-color: white;
    color: #0A3871;
    width: 85%;
    height: 4.187em;
    border: 1px solid;
    border-radius: 24px;
    margin: 7%;
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-copiar:hover {
    background-color: #AAB2D5;
}

.rodape {
    position: fixed; 
    bottom: 0;
    margin-bottom: 0.5em;
    text-align: center;
    color: white;
}


@media (max-width: 900px){

    .logo-alura {
        height: 3.5em;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
        gap: 2.0em;
        font-size: 0.8em;
    }

    .bloco-criptografia {
        gap: 0.5em;
        width: 100%;
    }

    .text-area span {
        position: absolute;
        padding-left: 1em;
        padding-top: 0.5em;
    }

    .text-area textarea:focus ~ span,
    .text-area textarea:valid ~ span {
        transform: translate(2.54em, -2.535em);
        font-size: 1.3rem;  
    }

    .mensagemEntrada {
        padding: 1%;
        padding-left: 0.8em;
        padding-top: 0.8em;
    }

    .botoes {
        gap: 0.5em;
    }

    .bloco-mensagem {
        width: 100%;
        max-width: 400px;
        height: auto;
        height: auto;
        margin: 0;
        overflow: hidden;
    }

    .msg-nao-encontrada {
        margin: 0;
    }

    .img-boneco {
        width: 70%;
    }

    .contem-mensagem {
        width: 100%;
        font-size: 1.3em;
    }

    .rodape {
        font-size: 0.6em;
    }
}
